/* Siga as orientações no arquivo README para concluir o exercício */

.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: greenyellow;
    color: plum;

}

.cabecalho {
    text-align: center;
    background-color: #39ACE3;
}

.titulo{
    color: #E33D39;
    font-size: 32px;
    font-weight: bold;
}

.subtitulo{
    font-size: x-large;
    background-color: cadetblue;
}

.conteudo{
    background-color: springgreen;
    color: royalblue;
}

.conteudo p{
    color: #E4005A;
    font-size: 42px;
}
